In [1]:
food = 'spam'

if food == 'spam':
    print('Ummmm, my favorite!')
    print('I feel like saying it 100 times...')
    print(100 * (food + '! '))

Ummmm, my favorite!
I feel like saying it 100 times...
spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam! spam!

In [2]:
name = 'Sunny'.lower()
guess = input("So I'm thinking of person's name. Try to guess it:")
pos = 0
while guess != name and pos<len(name):
    print("Nope!That's not it, hint: letter ",end="")
    print(pos+1,"is",name[pos],".",end="")
    guess = input('Guess again:')
    pos += 1
if pos == len(name) and guess!=name:
    print("too bad! you are out of chances and the name is:",name)
else:
    print("\nGreat you got it in",pos+1,"Guesses!")

So I'm thinking of person's name. Try to guess it:jdc
Nope!That's not it, hint: letter 1 is s .Guess again:sunny

Great you got it in 2 Guesses!

In [7]:
import random

number = random.randrange(1,100)
guesses = 0
chances = 4
guess = int(input("Guess my number between 1 and 1000:"))
while guess != number and chances!=0:
    guesses+=1
    if guess > number:
        print(guess,"is too high")
    elif guess< number:
        print(guess,"is too low")
    chances-=1
    guess = int(input("Guess again!"))
if chances==0 and guess!=number:
    print("You lost is and the correct number is:",number)
else:
    print("\n\nGreat! You guessed the number in",guesses,"guesses!")

Guess my number between 1 and 1000:8
8 is too low
Guess again!50
50 is too low
Guess again!86
86 is too low
Guess again!92
92 is too low
Guess again!95
You lost is and the correct number is: 97

In [9]:
for i in [24,36,52,41,57]:
    if i%2==1:
        break
    print(i)
print("done")

24
36
52
done

In [11]:
for i in [24,36,52,41,57,62]:
    if i%2==1:
        continue
    print(i)
print("done")

24
36
52
62
done

In [12]:
for i in [24,36,52,41,57,62]:
    if i%2==1:
        pass
    print(i)
print("done")

24
36
52
41
57
62
done

In [16]:
sentence = input("Enter the sentence:")
no_spaces = ""
for letter in sentence:
    if letter!=" ":
        no_spaces+=letter
print('your letter with no_spaces:')
print(no_spaces)

Enter the sentence:I am Yaswanth Babu Rayarapu
your letter with no_spaces:
IamYaswanthBabuRayarapu

In [2]:
students = [("Alejandro", ["CompSci", "Physics"]),
            ("Justin", ["Math", "CompSci", "Stats"]),
            ("Ed", ["CompSci", "Accounting", "Economics"]),
            ("Margot", ["InfSys", "Accounting", "Economics", "CommLaw"]),
            ("Peter", ["Sociology", "Economics", "Law", "Stats", "Music"])]
for (name,subjects) in students:
    print(name,"enrolled in",len(subjects),"courses and thoseare",subjects)

Alejandro enrolled in 2 courses and thoseare ['CompSci', 'Physics']
Justin enrolled in 3 courses and thoseare ['Math', 'CompSci', 'Stats']
Ed enrolled in 3 courses and thoseare ['CompSci', 'Accounting', 'Economics']
Margot enrolled in 4 courses and thoseare ['InfSys', 'Accounting', 'Economics', 'CommLaw']
Peter enrolled in 5 courses and thoseare ['Sociology', 'Economics', 'Law', 'Stats', 'Music']

In [6]:
counter = 0
lis = ""
for (name,subjects) in students:
    for s in subjects:
        if s=="CompSci":
            counter+=1
            lis+=(name+",")
print("The number of students taking CompSci is", counter,"and those names are",lis)

The number of students taking CompSci is 3 and those names are Alejandro,Justin,Ed,

In [44]:
def do_nothing_useful(n, m):
        x = n + m
        y = n - m
        return x
        print(y)

In [45]:
 do_nothing_useful(3, 4)

7

In [11]:
print(" my name is {}".format('Ankit'))

 my name is Ankit

In [1]:
def f1():
    print("Moe")

def f2():
    f4()
    print("Meeny")

def f3():
    f2()
    print("Miny")
    f1()

def f4():
    print("Eeny")

f3()

Eeny
Meeny
Miny
Moe

In [20]:
n=5
for i in range(n,0,-1):
    print((n-i)*" "+i*'*')

*****
 ****
  ***
   **
    *

In [29]:
def print_multiples(n):
    for i in range(1,7):
        print(n*i,end="  ")
    print()

In [30]:
for i in range(1,7):
    print_multiples(i)

1  2  3  4  5  6
2  4  6  8  10  12
3  6  9  12  15  18
4  8  12  16  20  24
5  10  15  20  25  30
6  12  18  24  30  36

In [50]:
def recursive_sum(the_list):
    sum1=0
    for element in the_list:
        if type(element)==list:
            sum1+=recursive_sum(element)
        else:
            sum1+=element
    return (sum1)

In [51]:
recursive_sum([2,4,5,[8,9,8],5])

41

In [46]:
def recursive1_sum(nested_num_list):
    the_sum = 0
    for element in nested_num_list:
        if type(element) == list:
            the_sum = the_sum + recursive1_sum(element)
        else:
            the_sum = the_sum + element
    return the_sum

In [47]:
recursive1_sum([2,4,5,[8,9,8],5])

41

In [52]:
type([])

list

In [53]:
def recursive_max(nested_num_list):
    """
      >>> recursive_max([2, 9, [1, 13], 8, 6])
      13
      >>> recursive_max([2, [[100, 7], 90], [1, 13], 8, 6])
      100
      >>> recursive_max([2, [[13, 7], 90], [1, 100], 8, 6])
      100
      >>> recursive_max([[[13, 7], 90], 2, [1, 100], 8, 6])
      100
    """
    largest = nested_num_list[0]
    while type(largest) == type([]):
        largest = largest[0]

    for element in nested_num_list:
        if type(element) == type([]):
            max_of_elem = recursive_max(element)
            if largest < max_of_elem:
                largest = max_of_elem
        else:                           # element is not a list
            if largest < element:
                largest = element

    return largest

In [54]:
recursive_max([2, 9, [1, 13], 8, 6])

13

In [75]:
def get_age(age):
    if age < 1:
        raise(ValueError, '%s is not a valid age' % age)
    else:
        return age
get_age(0)

TypeError: exceptions must derive from BaseException

In [76]:
def countdown(n):
    if n == 0:
        print("Blastoff!")
    else:
        print(n)
        countdown(n-1)
countdown(5)

5
4
3
2
1
Blastoff!

In [78]:
def find_max(seq, max_so_far):
    if not seq:
        return max_so_far
    if max_so_far < seq[0]:
        return find_max(seq[1:], seq[0])
    else:
        return find_max(seq[1:], max_so_far)
find_max([9,6,8,5,2],10)

10

In [82]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(5)

120

In [108]:
def fibonacci (n):
    if n == 0 or n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2) #6 + 5
fibonacci(7)

21

In [91]:
1,1,2,3,5,8,13,21,34

(1, 1, 2, 3, 5, 8, 13, 21, 34)

In [118]:
def fibonacci(n):
        if n==0:
            return 0
        elif n==1:
            return 1
        else:
            return fibonacci(n-2) + fibonacci(n-1)
        

for i in range(0,8):
    print(fibonacci(i))

0
1
1
2
3
5
8
13

In [120]:
def factori(n):
        if n==0:
            return 1
        elif n==1:
            return 1
        else:
            return n*factori(n-1)
        

for i in range(0,8):
    print(factori(i))

1
1
2
6
24
120
720
5040

In [8]:
import sys
list1 = []
for x in range(20):
    list1.append(x)
print(list1)
sys.getsizeof(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

264

# Anagram solution:
Given two strings, check to see if they are anagrams. An anagram is when the two strings can be written using the exact same letters (so you can just rearrange the letters to get a different phrase or word).

For example:

"public relations" is an anagram of "crap built on lies."

"clint eastwood" is an anagram of "old west action"

In [19]:
def anagram(s1,s2):
    s1 = s1.replace(" ","")
    s2 = s2.replace(" ","")
    return sorted(s1) == sorted(s2)

In [20]:
anagram("sunny","yashwanth")

False

In [21]:
anagram("god","dog")

True

In [22]:
def anagram1(s1,s2):
    s1 = s1.replace(" ","")
    s2 = s2.replace(" ","")
    
    if len(s1) != len(s2):
        return False
    count = {}
    for letter in s1:
        if letter in count:
            count[letter] += 1
        else:
            count[letter] = 1
    for letter in s2:
        if letter in count:
            count[letter] -= 1
        else:
            count[letter] = 1
    for k in count:
        if count[k] != 0:
            return False
        return True

In [23]:
anagram1("ram","mar")

True

In [26]:
from nose.tools import assert_equal

class AnagramTest(object):
    def test(self,sol):
        assert_equal(sol("god","dog"),True)
        assert_equal(sol("go go go","gggooo"),True)
        assert_equal(sol('hi man','hi     man'),True)
        assert_equal(sol('aabbcc','aabbc'),False)
        assert_equal(sol('123','1 2'),False)
        print('ALL TEST CASES PASSED')
        
t = AnagramTest()
t.test(anagram)

ALL TEST CASES PASSED

In [27]:
t.test(anagram1)

ALL TEST CASES PASSED

# Array_pair_sum
Given an integer array, output all the unique pairs that sum up to a specific value k.

So the input:

pair_sum([1,3,2,2],4)

would return 2 pairs:

 (1,3)
 (2,2)

In [11]:
def pair_sum(arr,k):
    counter = 0
    lookup =set()
    for num in arr:
        if k-num in lookup:
            counter+=1
        else:
            lookup.add(num)
    return counter

In [13]:
pair_sum([1,3,2,2],5)

2

In [43]:
from nose.tools import assert_equal

class TestPair(object):
    
    def test(self,sol):
        assert_equal(sol([1,9,2,8,3,7,4,6,5,5,13,14,11,13,-1],10),6)
        assert_equal(sol([1,2,3,1],3),1)
        assert_equal(sol([1,3,2,2],4),2)
        print('ALL TEST CASES PASSED')
        
#Run tests
t = TestPair()
t.test(pair_sum)

ALL TEST CASES PASSED

# Find the Missing element
Consider an array of non-negative integers. A second array is formed by shuffling the elements of the first array and deleting a random element. Given these two arrays, find which element is missing in the second array.

Here is an example input, the first array is shuffled and the number 5 is removed to construct the second array.

Input:

finder([1,2,3,4,5,6,7],[3,7,2,1,4,6])

Output:

5 is the missing number

In [28]:
def missing_ele(arr1,arr2):
    arr1.sort()
    arr2.sort()
    for num1,num2 in zip(arr1,arr2):
        if num1 != num2:
            return num1
    print("there are no missing values")

In [32]:
arr1 = [1,2,3,4,5,6,7]
arr2 = [3,7,2,1,4,6]
missing_ele(arr1,arr2)

5

In [34]:
import collections
def finder(arr1,arr2):
    d = collections.defaultdict(int)
    for num in arr2:
        d[num]+=1
    for num in arr1:
        if d[num]==0:
            return num
        else:
            d[num]-=1
finder(arr1,arr2)

5

In [44]:
def finder3(arr1, arr2): 
    result=0 
    
    # Perform an XOR between the numbers in the arrays
    for num in arr1+arr2: 
        result^=num
        
    return result 
finder3(arr1,arr2)

5

# Largest continuous sum
Given an array of integers (positive and negative) find the largest continuous sum.

In [48]:
def largest_cont(arr):
    if len(arr) == 0:
        return 0
    max_sum = current_sum = arr[0]
    for num in arr[1:]:
        current_sum = max(current_sum+num,num)
        max_sum = max(current_sum,max_sum)
    return max_sum

largest_cont([2,5,9,6,4,-10])

26

# Sentence reversal

In [53]:
def reverse_sen(s):
    return " ".join(reversed(s.split()))
s="My name is yaswanth"
reverse_sen(s)

'yaswanth is name My'

In [65]:
def reverse_sen1(s):
    words = []
    length = len(s)
    spaces = [" "]
    i=0
    while i<length:
        if s[i] not in spaces:
            word_start = i
            while i<length and s[i] not in spaces:
                i+=1
            words.append(s[word_start:i])
        i+=1
    return " ".join(reversed(words))

In [66]:
reverse_sen1(s)

'yaswanth is name My'

In [69]:
numbers = [1,2,3,4]
list(map(lambda x:x+1,numbers))

[2, 3, 4, 5]

In [73]:
numbers = [1, 2, 3, 4, 5]

# new list of numbers
new_numbers = numbers

# both list have the same id number
print('numbers id: {}, new_numbers id: {}'.format(id(numbers), id(new_numbers)))
# numbers id: 1836112528136, new_numbers id: 1836112528136

# we can also check that they refer to the same object with the identity operator is
numbers is new_numbers

numbers id: 2785767754696, new_numbers id: 2785767754696

True

In [78]:
import copy
num1 = [1,2,3,4,5]
new_num = copy.deepcopy(num1)
num1 is new_num

False

In [88]:
hex(50)

'0x32'

In [92]:
def uni_char2(s):
    chars = set()
    for let in s:
        # Check if in set
        if let in chars:
            return False
        else:
            #Add it to the set
            chars.add(let)
    return True

In [95]:
uni_char2("bcv")

True

# String Compression
Given a string in the form 'AAAABBBBCCCCCDDEEEE' compress it to become 'A4B4C5D2E4'. For this problem, you can falsely "compress" strings of single or double letters. For instance, it is okay for 'AAB' to return 'A2B1' even though this technically takes more space.

The function should also be case sensitive, so that a string 'AAAaaa' returns 'A3a3'.

In [4]:
def str_comp(s):
    r = ""
    l = len(s)
    
    if l == 0:
        return ""
    if l == 1:
        return s + "1"
    i=1
    count = 1
    while i<l:
        if s[i] == s[i-1]:
            count+=1
        else:
            r = r+s[i-1]+str(count)
            count =1
        i+=1
    r = r+s[i-1]+str(count)
    return r
str_comp("AAABCC")

'A3B1C2'

# Unique Characters in String
Given a string,determine if it is compreised of all unique characters. For example, the string 'abcde' has all unique characters and should return True. The string 'aabcde' contains duplicate characters and should return false.

In [15]:
def unique_char(s):
    return len(set(s)) == len(s)
unique_char("abc")

True

In [34]:
def unique_char1(s):
    chars = set()
    for l in s:
        if l in chars:
            return False
        else:
            chars.add(l)
    return True
unique_char1("abcc")

False

In [41]:
v = "sunny is a good boy"
print(v.startswith("s"))

True

In [44]:
s= ['sunny']
s[-1]

'sunny'

In [1]:
persons = [{"name":"john","pet":"dog"},{"name":"sunny","pet":"cat"}]
for person in persons:
    for item in person.items():
        print(item[1])

john
dog
sunny
cat